<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}" ></head>
<body>
	
	<div th:replace="~{ base :: logo }" ></div>
	
	<div class="container">
		
		<div th:replace="~{base :: titulo('Novo pedido')}" ></div>
		
		<div class="card mt-3" >
			<form th:object=${requisicaoNovoPedido} class="card-body" th:action="@{/pedido/novo}" method="POST">			
				<div class="mb-3" >
					<label class="form-label" >Produto</label>
					<input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" name="nomeProduto" placeholder="nome do produto">
					<small>Informe qual o nome do produto.</small>
					<div class="invalid-feedback" th:errors="*{nomeProduto}">
						<!-- Aqui aparece erros relacionados ao campo nome produto -->
					</div>
				</div>
				
				<div class="mb-3" >
					<label class="form-label" >Url</label>
					<input  th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" name="urlProduto" placeholder="url do produto">
					<small>Procure em um site o produto que você deseja e cole a url da pagina aqui.</small>
					<div class="invalid-feedback" th:errors="*{urlProduto}">
						<!-- Aqui aparece erros relacionados ao campo url do produto -->
					</div>				
				</div>
				
				<div class="mb-3" >
					<label class="form-label" >Imagem</label>
					<input  th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control" name="urlImagem" placeholder="url da imagem">
					<small>Copie a url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores.</small>
					<div class="invalid-feedback" th:errors="*{urlImagem}">
						<!-- Aqui aparece erros relacionados ao campo url da imagem -->
					</div>				
				</div>
				
				<div class="mb-3" >
					<label class="form-label" >Descrição</label>
					<textarea th:field="*{descricaoProduto}" class="form-control" name="descricaoProduto" placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>				
				</div>
				
				<button class="btn btn-primary" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
	
</body>
</html>